<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/ConvORM/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="luismaruccio" />
      <add key="ClearTextPassword" value="a5547136f7232edf738b4549a66e18f709f2d5af" />
    </github>
  </packageSourceCredentials>
</configuration>